body{
  text-align: center;
}

.container{
  margin-top: 100px;
}

/* BLOCCO PERCHE */

.why .col-l-12{
  margin-top: 80px;
}

.why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  height: 260px;
}

.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}
